@model List<Product>
<div class="container">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category Table</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Author
                                </th>
                                
                                <th>
                                    Cost Price
                                </th>
                                <th>
                                    Sale Price
                                </th>
                                <th>
                                    Discount Price
                                </th>
                               
                                <th>
                                    Featured
                                </th>
                                <th>
                                    New
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                           @foreach (var product in Model)
                           {
                               
                               <tr>
                                   <td>
                                       @product.Id
                                   </td>
                                   <td>
                                       @product.Name
                                   </td>
                                   <td>
                                       @product.Author.Fullname
                                   </td>
                                  
                                   <td>
                                       @product.CostPrice
                                   </td>
                                   <td>
                                       @product.SalePrice
                                   </td>
                                   <td>
                                       @product.DiscountPrice
                                   </td>
                                    
                                   <td>
                                       @product.IsFeatured
                                   </td>
                                   <td>
                                       @product.IsNew
                                   </td>
                                    
                                   <td class="d-flex flex-column">
                                       <a class="btn btn-warning my-2 " asp-action="Update" asp-controller="ProductSlider" asp-route-id="@product.Id"  >Update</a>
                                       <form method="post">
                                           <button  class="btn btn-danger my-2" asp-action="Delete" asp-controller="ProductSlider" asp-route-id="@product.Id" >Delete</button>
                                       </form>
                                       </td>
                               </tr>
                           }
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>